// COLORS
$color-primary-dark:   #303F9F;
$color-primary:        #3F51B5;
$color-primary-light:  #C5CAE9;
$color-accent:         #448AFF;
$color-text-primary:   #212121;
$color-text-secondary: #757575;
$color-divider:        #dfdfdf;
$color-white:          #ffffff;
$color-black:          #000000;
$color-shadow:         rgba($color-text-primary, .8);


// FONT
$font-size-default: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;